/* Dimensions
************************************************************** */
$page-max-width: 2000px;

/* Colors and shadows
************************************************************** */
$primary: #0275d8;
$info: #5bc0de;
$background-color: rgba(128, 128, 128, 0.85);
$drop-shadow: drop-shadow(0.09rem 0.09rem 0.09rem black);
